*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: #e0e0e0;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.category {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.main-header-icon{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 36px;
  color: #ffffff;
  text-decoration: none;
}

.main-header-container {
  background: #650000;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.main-logo {
  font-size: 4rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.main-logo-icon {
  margin-right: 2rem;
}

.product-card {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 8px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}

.product-details-container {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-details-image {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.product-details-info {
  max-width: 500px;
  flex-grow: 1;
}

.product-details-description {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.4;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.product-details-price {
  font-size: 1.4em;
  margin-bottom: 20px;
  font-weight: bold;
}

.product-details-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.product-details-add-to-cart-btn {
  background-color: #28a745;
  color: white;
  padding: 12px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-details-add-to-cart-btn:hover {
  background-color: #218838;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #650000;
  overflow-x: hidden;
  transition: width 0.5s ease;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #820b05;
}

.sidebar ul li:hover a {
  color: #ffd700;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #650000;
  color: white;
  padding: 12px 18px;
  border: none;
  z-index: 1001;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.openbtn:hover {
  background-color: #820b05;
  transform: scale(1.05);
}

.sidebar.open {
  width: 250px;
}

.sidebar ul li a:hover {
  color: #ffd700;
}

@media (max-width: 768px) {
  .product-details-container {
      flex-direction: column;
      align-items: center;
  }

  .product-details-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  }

  .product-details-image {
      margin-bottom: 20px;
      max-width: 90%;
      height: auto;
  }

  .product-details-info {
      text-align: center;
      width: 100%;
  }

  .product-details-add-to-cart-btn {
      width: 100%;
      font-size: 1.2em;
      padding: 12px;
  }
}

.icon-cart {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 1000;
}

.icon-cart a {
  color: #ffffff;
  font-size: 35px;
}

.icon-cart i {
  pointer-events: none;
}
