{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'usuario/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    
</head>
<body>
    
    <div class="container">
        <h2>Cadastro</h2>
        {% if status %}
            <div class="alert {% if status == '0' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                {% if status == '0' %}
                    Cadastro realizado com sucesso
                {% elif status == '1' %}
                    Nome e email não podem estar vazios.
                {% elif status == '2' %}
                    Sua senha deve ter pelo menos 8 caracteres
                {% elif status == '3' %}
                    Usuário já existe no sistema
                {% elif status == '4' %}
                    Erro interno do sistema
                {% endif %}
            </div>
        {% endif %}
        <form method="POST" action="{% url 'valida_cadastro' %}" >
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="email">Telefone</label>
                <input type="tel" id="telefone" name="telefone" required>
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>