{% include "partials/head.html" %}
{% include "partials/header2.html" %}

<div class="product-details-container">
    <div class="product-details-header">
        <div class="product-details-title"><h1>{{ produto.nome }}</h1></div>
        {% if produto.capa and produto.capa.url %}
            <img class="product-details-image" src="{{ produto.capa.url }}" alt="capa">
        {% endif %}
    </div>

    <!-- Detalhes do Produto -->
    <div class="product-details-info">
        <p class="product-details-description">{{ produto.descricao }}</p>
        <p class="product-details-price">R${{ produto.preco }}</p>
        <div class="product-quantity-label"><span>Quantidade:</span></div>
        <div class="product-quantity-selector">
            <select class="quantity-dropdown" id="qty-cart">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <a href= ""><button value="{{produto.id}}"class="product-details-add-to-cart-btn" id="add-carrinho">Adicionar ao Carrinho</button></a>
    </div>
</div>

<div class="footer-vermaisproduto">
    <h1>Produtos relacionados</h1>
    <div>
        {% for produto in produtos_relacionados %}
            {% include "partials/produto.html" %}
        {% endfor %}
    </div>
</div>


<script>
    // Check if button pressed
    $(document).on('click', '#add-carrinho', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'adicionar_carrinho' %}',
            data: {
               produto_id: $('#add-carrinho').val(),
               produto_qty:$('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            success: function(json){
                //console.log(json)
                document.getElementById('quantidade_carrinho').textContent = json.qant
            },
    
            error: function(xhr, errmsg, err){
    
            }
    
    
        });
    
    
    
    })
    
    </script>